.battle-page {
    background-image: url("../../assets/battle.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 60vw; 
    height: 45vw; 
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    font-family: 'roboto', cursive; 
    font-size: 25px;
    color: black; 
  }
  
  .title-text {
    background-color: #000692; 
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: inline; 
  }
  
  .text-background {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .join-queue-button:hover,
  .leave-queue-button:hover {
    background-color: #0056b3;
  }
  
  .join-queue-button {
    padding: 10px 20px;
    background-color: green;
    justify-content: center; 
    align-items: center; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: auto; 
    display: block;
  }
  
  .leave-queue-button {
    padding: 10px 20px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .challengers-container,
  .trainers-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .challengers-container ul,
  .trainers-container ul {
    list-style: none;
    padding: 0; 
  }
  
  .challengers-container li,
  .trainers-container li {
    display: flex;
    align-items: center;
    margin-bottom: 10px; 
  }
  
  .accept-button,
  .send-button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px; 
  }
  
  .accept-button:hover,
  .send-button:hover {
    background-color: #0056b3;
  }
  