@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.text-h1 {
		@apply text-5xl font-bold my-8;
	}
	.text-h3 {
		@apply text-xl font-bold;
	}

	.btn {
		@apply bg-slate-500 text-white text-center p-2 px-4 w-fit min-w-24 rounded-lg transition-all duration-100 active:translate-y-0.5 cursor-pointer;
	}

	.btn--green {
		@apply btn bg-green-500 hover:bg-green-600 active:bg-green-700;
	}

	.btn--red {
		@apply btn bg-red-500 hover:bg-red-600 active:bg-red-700;
	}

	.input {
		@apply py-2 px-4 rounded-lg text-black;
	}
}
