

.tournaments-container {
    /* background-image: url("../../assets/tournament.jpg"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: blur(5px); 
    padding: 4rem; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    width: 50vw; 
    /* height: 40vw;  */
    margin: auto; 
    /* border: 6px solid rgba(255, 255, 255, 0.5); */
    /* border-radius: 10px; */
}

.tournament-name {
    font-family: 'roboto', cursive; 
    color: #db88ff  ;
    font-size: 20px; 
    /* margin-bottom: 5px; */
    margin-right: auto;
}

.btn {
    padding: 10px 20px;
    background-color: #734F96; 
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.create-tournament-btn {
    background-color: teal;
    display: block;
    width: 200px;
    margin-right: 20px; 
    align-self: flex-end; 
    
}

.tournament-list {
    margin-top: 30px;
    align-self: flex-start; 
}

.tournament-item {
    margin-bottom: 15px;
    padding: 10px 20px;
    background-color:#F9F6EF;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.join-btn {
    padding: 5px 15px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.joined {
    padding: 5px 15px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.join-btn:hover {
    background-color: #218838; 
}


.battle-team-container {
    position: absolute;
    bottom: 20px; 
    right: 20px; 
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1; 
  }
  
  .battle-team-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .select-button,
  .deselect-button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 10px;
  }
  
  .select-button {
    background-color: #4CAF50;
    color: white;
  }
  
  .select-button:hover {
    background-color: #45a049;
  }
  
  .deselect-button {
    background-color: #f44336;
    color: white;
  }
  
  .deselect-button:hover {
    background-color: #d32f2f;
  }